.ArticleList {
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex: none;
  width: 250px;
  padding: 10px;
  align-content: stretch;
}

.cardItem {
}

.skeleton {
  display: flex;
  flex-wrap: wrap;
}

.SMALL {
  .skeleton {
    gap: 20px;
  }
}

.staticList {
  &.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.BIG {
  .cardItem {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 20px;
  }

  .skeleton {
    flex-direction: column;
  }
}
