@use "./reset";
@use "./variables/global";
@use "./themes/dark";
@use "./themes/normal";

.page {
  display: flex;
}


.page-wrapper {
  flex-grow: 1;
  padding: 20px;
  padding-left: 60px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
}
