.app_dark_theme {
  color: var(--text-color);
  background-color: var(--bg-color);

  --bg-color: #12122b;
  --inverted-bg-color: #ececf1;

  --primary-color: #2563eb;
  --inverted-primary-color: #60a5fa;

  --secondary-color: #94a3b8;
  --inverted-secondary-color: #bfdbfe;

  --text-color: #e2e8f0;
  --inverted-text-color: #f8fafc;

  --error-color: #f87171;

  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  --code-bg: #1212a1;

  --card-bg: #323275;
}
