.app.light {
  --bg-color: rgb(211, 211, 211);

  --primary-color: rgb(52, 52, 255);
  --inverted-primary-color: rgb(84, 84, 255);
  --secondary-color: rgb(176, 176, 255);

  --text-color: #d1ffff;
  --inverted-text-color: #fff;
}
