.app_light_theme {
  color: var(--text-color);
  background-color: var(--bg-color);

  --bg-color: #ececf1;
  --inverted-bg-color: #12122b;

  --primary-color: #1e40af;
  --inverted-primary-color: #2563eb;

  --secondary-color: #64748b;
  --inverted-secondary-color: #dbeafe;

  --text-color: #1e293b;
  --inverted-text-color: #f8fafc;

  --error-color: #dc2626;
}
